.drop{
    border: 1px solid black;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 100px;
    background-color: rgb(236, 233, 233);
    border-radius: 4px;
    text-decoration: none;
    color: black;
}
.drop:hover {
    border: 1px solid white;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 100px;
    background-color: black;
    border-radius: 4px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}
 